
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #333;
    background: url('./assets/bg.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


nav {
    width: 40%;
    background-color: #fb7e93;
    margin-top: 3rem;
    padding: 1.25rem 6rem;
    border-radius: 1rem;
}

nav .nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
}

nav .nav-list a.active {
    background-color: #f16179;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}


main {
    width: 65%;
/*👉    background-color: cornflowerblue;👈*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#intro .profile {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

#intro .profile img {
    width: 100%;
    height: 100%;
}

#intro .intro-text {
    width: 60%;
}

#intro .intro-text h1 {
    font-size: 4.5rem;
}

#intro .intro-text .name {
    color: #ff8597;
}

#intro .intro-text p {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* color: #a3c3ff; */
}

#intro .intro-text .tech {
    color: #84acf7;
    font-weight: 600;
}


main #links {
    width: 60%;
    margin-top: 2rem;
    background-color: #84acf7;
    padding: 1rem 5rem;
    border-radius: 2rem;
}

#links .link-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
}