
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #333;
    background: url('../../assets/bg.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


nav {
    width: 40%;
    background-color: #fb7e93;
    margin-top: 3rem;
    padding: 1.25rem 6rem;
    border-radius: 1rem;
}

nav .nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
}

nav .nav-list a {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
}

nav .nav-list a.active {
    background-color: #f16179;
}

nav .nav-list a:hover {
    background-color: #f16179;
}


main {
    width: 60%;
    flex-grow: 0.5;
    /* background-color: cornflowerblue; */
    /* padding: 2rem; */
}

main h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

main #projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

#projects .card {
    background-color: #fb7e93;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#projects .card .project-img {
    height: 12rem;
    width: 100%;
    /* border: 2px solid red; */
}

#projects .card .project-title {
    padding: 0.5rem 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#projects .card .project-links {
    padding-right: 1.5rem;
    text-align: right;
    margin-bottom: 1rem;
    color: #ef4763;
}

#projects .card .project-links a img {
    width: 2rem;
}



footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: #fb7e93;
}

footer a {
    color: #b8cff9;
    transition: all 0.2s ease-in;
}

footer a:hover {
    color: #84acf7;
}