
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #333;
    background: url('./assets/bg.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


nav {
    width: 40%;
    background-color: #fb7e93;
    margin-top: 3rem;
    padding: 1.25rem 6rem;
    border-radius: 1rem;
}

nav .nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
}

nav .nav-list a {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
}

nav .nav-list a.active {
    background-color: #f16179;
}

nav .nav-list a:hover {
    background-color: #f16179;
}


main {}






footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: #fb7e93;
}

footer a {
    color: #b8cff9;
    transition: all 0.2s ease-in;
}

footer a:hover {
    color: #84acf7;
}