
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #333;
    background: url('../../assets/bg.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


nav {
    width: 40%;
    background-color: #fb7e93;
    margin-top: 3rem;
    padding: 1.25rem 6rem;
    border-radius: 1rem;
}

nav .nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.25rem;
}

nav .nav-list a {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in;
}

nav .nav-list a.active {
    background-color: #f16179;
}

nav .nav-list a:hover {
    background-color: #f16179;
}


main {
    width: 60%;
    flex-grow: 0.65;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

main #intro {
    grid-row: span 2 / span 2;
    background-color: #84acf7;
    border-radius: 1rem;
    padding: 2rem;
}

#intro p {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
}


main #tech-skills {
    background-color: #fb7e93;
    border-radius: 1rem;
    padding: 2rem;
}

h2 {
    display: inline;
    font-size: 2.25em;
    border-bottom: 5px dashed #ef4763;
}

#tech-skills h4 {
    font-size: 1.25rem;
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
    /* color: #b8cff9; */
}

#tech-skills .tech-list {
    display: flex;
    list-style-type: none;
    /* margin-bottom: 1.75rem; */
}

#tech-skills .tech-list li {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
}

#tech-skills .tech-list li img {
    width: 100%;
    height: 100%;
}

main #hobbies {
    grid-column-start: 2;
    background-color: #fb7e93;
    border-radius: 1rem;
    padding: 2rem;
}




footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: #fb7e93;
}

footer a {
    color: #b8cff9;
    transition: all 0.2s ease-in;
}

footer a:hover {
    color: #84acf7;
}